html {
    font-size: 13px;

    @media only screen and (min-width: 1440px) {
        font-size: 15px;
    }
}

body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $veryDarkBlue;
    font-family: $interFf;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 1110px;
    margin-inline: auto;
    padding: 5rem 0;
}