$veryDarkBlue: hsl(233, 47%, 7%); // Main Background
$darkDesaturedBlue: hsl(244, 38%, 16%); // Card Background
$softViolet: hsl(277, 64%, 61%); // Accent
$white: hsl(0, 0%, 100%); // Main Heading, Stats
$slightlyTransparentWhiteMain: hsla(0, 0%, 100%, 0.75); // Main Paragraph
$slightlyTransparentWhiteStat: hsla(0, 0%, 100%, 0.6); // Stat Headings
$imageOverlay: hsla(277, 90%, 24%, 0.6); // Image Overlay